<ActionBar>
    <NavigationButton (tap)="onBackTap()" android.systemIcon="ic_menu_back"></NavigationButton>
    <Label>
        <Span [text]="member.name" class="member-label" ></Span>
    </Label>
</ActionBar>

<StackLayout>
    <ActivityIndicator [busy]="loading" visibility="{{loaderVisibility}}"></ActivityIndicator>
    <Label class="beers-dranken">
        <FormattedString>
            <Span [text]="beersDrankenLabel" class="beers-dranken-label" ></Span>
        </FormattedString>
    </Label>
    <ListView [items]="beers">
        <ng-template let-item="item">
            <StackLayout>
                <Label horizontalAlignment="center">
                    <FormattedString>
                        <Span [text]="item.beerName" class="beer-label"></Span>
                    </FormattedString>
                </Label>
            </StackLayout>
        </ng-template>
    </ListView>
</StackLayout>